@use "./reset.scss";

:root {
    --blue: #5378f1;
    --orange: #ee8732;
    --dark-orange: #cf6f21;

    .btn-blue {
        background-color: var(--blue);
        border: 1px solid #fff;
        font-size: 20px;
        line-height: 20px;
        &:hover {
            border: 1px solid #fff;
        }
        @media (max-width: 600px) {
            & {
                font-size: 16px;
                line-height: 16px;
            }
        }
    }
}

body {
    position: relative;
    font-size: 18px;
    line-height: 1.1;
}

.page__main {
    min-height: 700px;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}


button:active {
    position: relative;
    top: 1px;
}